#vivo {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    visibility: hidden;
    position: absolute;
    right: 0;

  }
.estatus{
    position: relative;
    padding:5px 0 5px 60px; /* Damos un padding de 60px para posicionar 
          el elemento <i> en este espacio*/
    display: block;
    
  }
#vivo + i{
  background: #f0f0f0;
  border:2px solid rgba(0,0,0,0.2);
  position: absolute; 
  left: 0;
  top: 0;
  width: 52px;
	height: 30px;
	border-radius: 15px;
}
  #vivo:checked ~  label {
    color: rgb(255, 81, 0);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: black;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }