.card {
    display: flex;
    height: 200px;
    width: 450px;/*
    max-width: 250px;*/
    border-radius: 10px;
    background: #f1f5f3;
    box-shadow: 1px 5px 60px 0px #4646466b;
    padding: 1px;
    margin: 15px;
    margin-top:2rem;
   }
   
   .card .personaje-foto,.card .nombre,.card div p,.card .buttons,.card .estatus {
    display: flex;
    justify-content: center;/*
    align-items: center;*/
    text-align: right;
   }
   
   .card .personaje-foto {
    border: 2px solid #4646466b;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    transition: all .3s;
   }
   
   .card .personaje-foto p {
    font-size: .8em;
    margin-left: 15px;
   }

   .personaje-foto p img{
    max-width: 80px;
    max-height: 80px;
   }

   .buttons > div {
    padding: .5em;
   }
   
   button {
    padding: .5em;
    outline: none;
    background: transparent;
    border: 1px solid #0f0f0f6b;
    border-radius: .4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s;
    font-size: .7em;
   }
   
   .card .personaje-foto:hover,button:hover {
    background: #252525;
    color: #f1f5f3;
   }
   
   .card .nombre p {
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 1em;
   }
   
   .card div p {
    margin-bottom: 10%;
    font-size: .54em;
    text-transform: uppercase;
    letter-spacing: .5em;
   }
   
   .card div label {
    margin-bottom: 10%;
    font-size: .54em;
    text-transform: uppercase;
    letter-spacing: .5em;
   }
   
   
   .Info_personaje p{
       margin: 1em;
       text-align: left;
       
   }
   

   .Info_personaje p{
       text-align: left;
       text-justify: auto;

   }




