@font-face {
    font-family: Get_Schwifty;
    src: url(../fuentes/get_schwifty.ttf);
}
*{

    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header span{
    height: 10vw;
}
nav{    
    font-family: Get_Schwifty;
    position: fixed; 
    width: 100%;
    height: 10vh;
    background: #1edf6e;
    overflow: hidden;
}

nav ul {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom:1vh;
    overflow: hidden;

    /*
    #ff8a5c
    background-color: rgb(42, 35, 51);
    background: rgb(28,128,0);
    background: linear-gradient(rgb(200, 255, 1) 1% ,rgba(28,128,0,1) 15%,rgba(28,128,0,1) 82%,rgba(255,255,255,1) 86%, rgba(28,128,0,1) 90%, rgb(0, 0, 0) 100%); 
    */
 }
 nav:before{    
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../imagenes/patron2.jpg);
    background-repeat: repeat;
}

nav ul li {
    display:flex;
    align-items: center;
    float: left;
    margin: auto;

}
nav ul li a{
    text-transform: uppercase;

}
nav ul li img{
    max-height: 10vh;
    max-width: 10vh;
}

nav ul li h1{
    text-transform: capitalize; 
    font-size: 260%;
    font-weight:700;
    display: block;
    color: #69c8ec;
    -webkit-text-stroke:  0.5px  rgb(0, 0, 0) ;
    text-align: center;
    padding: 14px 16px;
    text-shadow: rgb(238, 255, 0) 1px 1px  40px ;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  #sel1{
    grid-column: 1;
    grid-row: 1;
  }

  #sel2{
    grid-column: 1;
    grid-row: 2;
  }
/**inicio del card**/

#galeria__personajes{
    grid-column: 2/6;
    grid-row: 1/8;
    display: flex;
    flex-wrap: wrap;
    
}

#nombreJuego{    font-weight: 600;}

hr{
    background-color: rgb(149, 0, 255);
    height:1px;
    max-height:1px !important;
    width: 80%;
}
div h5{
    text-align: center;

}


img{ padding:1rem;
    max-height: 16rem;
    max-width: 18rem;
}
/**fin del card**/



header {
    min-height: 10%
}
main{
    margin-top:1vh;
    padding: 1rem;
    flex: 1 0 auto; 
    min-height:80%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0; 
    background: rgb(15, 3, 24) ;
    color: rgb(201, 201, 201); ;
}